*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #e9e6e6ee;
}

h1{
    text-align: center;
    font-size: 3rem;
    color: blueviolet;
}

header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    margin: auto auto;
}

input{
    height: 90px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

.add{
    width: 20%;
    cursor: pointer;
    background: rgb(98, 160, 4);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    height: 90px;
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
}

main{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    padding-top: 40px;
}

.item{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 5px;
}

.item.clicado{
    background-color: #d4f6d9;
}

.item.clicado .item_nome{
    text-decoration: line-through;
    color: gray;
}


.item_icone{
    flex: 20%;
    text-align: center;
    font-size: 2rem;
}

.item_nome{
    flex: 60%;
    font-size: 30px;
    font-weight: bold;
    height: 39px;
    text-align: center;
    color: brown;
    
}

.item_botão{
    flex: 20%;
    font-size: 10px;
}

.delete{
    background: red;
    color: white;
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
    font-size: 29px;
    margin-bottom: 5px;
}

.check_circle{
    color: green;
}

